body {
  font-family: sans-serif;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.hide {
  display: none;
}

span {
  padding-right: 1rem;
}

.btn {
  cursor: pointer;
}
